<section class="converter">
  <div class="converter__container">
    <div class="converter__inner">
      <h1 class="title">Type and click anywhere.</h1>
      <h2>We will take care of everything else.</h2>
      <form [formGroup]="form" class="converter__form">
        <div class="converter__field">
          <span
            class="currency-flag currency-flag-{{
              form.get('inputSelect')?.value?.toLowerCase()
            }}"
          ></span>
          <app-input
            formControlName="input"
            (change)="convert('input')"
          ></app-input>
          <app-select
            (change)="convert('input')"
            [currencies]="currencies"
            formControlName="inputSelect"
          ></app-select>
        </div>
        <button (click)="toggleCurrencies()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
            />
          </svg>
        </button>
        <div class="converter__field">
          <span
            class="currency-flag currency-flag-{{
              form.get('outputSelect')?.value?.toLowerCase()
            }}"
          ></span>
          <app-input
            formControlName="output"
            (change)="convert('output')"
          ></app-input>
          <app-select
            (change)="convert('output')"
            [currencies]="currencies"
            formControlName="outputSelect"
          ></app-select>
        </div>
      </form>
      Last updated: {{ lastUpdate }}
    </div>
  </div>
</section>
