<div class="converter__field">
  <span class="currency-flag currency-flag-{{ code.toLowerCase() }}"></span>
  <input
    type="number"
    placeholder="Amount"
    [(ngModel)]="value"
    (change)="onChange()"
    min="0"
  />
  <select [(ngModel)]="code" (change)="onChange()">
    <option *ngFor="let currency of currencies" [value]="currency.code">
      <div class="currency-name">
        {{ currency.code
        }}{{ currency.full_name ? " - " + currency.full_name : "" }}
      </div>
    </option>
  </select>
</div>
